In [1]:
import StockLib
from StockLib.KDStockStrategy import *
from StockLib.MACDStockStrategy import *
from StockLib.MAStockStrategy import *
from StockLib.Stock_lib import *

from FinMind.data import DataLoader
import pandas as pd

#api key
token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMi0wNS0xMiAwOTowNTo0NyIsInVzZXJfaWQiOiJiZW40NjAyNDE0IiwiaXAiOiIyMjAuMTMyLjE4OS4xNzUifQ.IIZQ5ahmgipp0t-ozgdxcyoAgBdLcPGgsHUuOJdfXVM"
api = DataLoader()
api.login_by_token(api_token=token)
today = str(date.today())

C:\Users\CCE\anaconda3\lib\site-packages\FinMind\strategies\base.py:423: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  def final_stats(self) -> pd.Series():
C:\Users\CCE\anaconda3\lib\site-packages\FinMind\strategies\base.py:450: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  def compare_market_stats(self) -> pd.Series():

In [2]:
# api.login_by_token(api_token='token')
# api.login(user_id='user_id',password='password')
stock_name = "2330"
#之後提供，只回測3年，以及從2019-01-01到近期的選擇
stock = api.taiwan_stock_daily(
    stock_id=stock_name,
    start_date='2019-01-01',
    end_date= today
)
recent_date = str(stock["date"].to_numpy().tolist()[-1])
stock

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2019-01-02,2330,32900482,7276419230,226.5,226.5,219.0,219.5,-6.0,12329
1,2019-01-03,2330,34615620,7459051790,214.0,218.0,214.0,215.5,-4.0,14549
2,2019-01-04,2330,67043521,13987136785,211.5,211.5,206.5,208.0,-7.5,28786
3,2019-01-07,2330,35695176,7591116569,212.0,214.0,211.0,213.0,5.0,11224
4,2019-01-08,2330,23794481,5019703557,212.0,212.5,210.0,211.0,-2.0,9377
...,...,...,...,...,...,...,...,...,...,...
814,2022-05-13,2330,30204773,15412261905,507.0,514.0,506.0,511.0,6.0,37707
815,2022-05-16,2330,22012610,11472463517,521.0,524.0,518.0,520.0,9.0,30034
816,2022-05-17,2330,25812051,13627135311,521.0,533.0,520.0,530.0,10.0,30826
817,2022-05-18,2330,33605299,18075946322,541.0,541.0,534.0,538.0,8.0,34913
818,2022-05-19,2330,40798132,21322524192,523.0,527.0,520.0,522.0,-16.0,47232

In [3]:
#股價的資料tolist
values = stock[["open", "close", "min", "max"]].to_numpy().tolist()

#月份的資料tolist
data_m = stock[["date"]].to_numpy()
data_m = data_m.flatten()
month = []
for m in data_m:
    month.append(str(m)[:10])

#執行
kline = draw_kline(month, values, stock_name)

In [4]:
#執行    
#投資策略
macd_strategy(stock)
stock

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,DIF,MACD,DIF-MACD
0,2019-01-02,2330,32900482,7276419230,226.5,226.5,219.0,219.5,-6.0,12329,NaN,NaN,NaN
1,2019-01-03,2330,34615620,7459051790,214.0,218.0,214.0,215.5,-4.0,14549,NaN,NaN,NaN
2,2019-01-04,2330,67043521,13987136785,211.5,211.5,206.5,208.0,-7.5,28786,NaN,NaN,NaN
3,2019-01-07,2330,35695176,7591116569,212.0,214.0,211.0,213.0,5.0,11224,NaN,NaN,NaN
4,2019-01-08,2330,23794481,5019703557,212.0,212.5,210.0,211.0,-2.0,9377,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,2022-05-13,2330,30204773,15412261905,507.0,514.0,506.0,511.0,6.0,37707,-16.232746,-14.431738,-1.801007
815,2022-05-16,2330,22012610,11472463517,521.0,524.0,518.0,520.0,9.0,30034,-15.520138,-14.649418,-0.870719
816,2022-05-17,2330,25812051,13627135311,521.0,533.0,520.0,530.0,10.0,30826,-13.987238,-14.516982,0.529744
817,2022-05-18,2330,33605299,18075946322,541.0,541.0,534.0,538.0,8.0,34913,-11.988673,-14.011320,2.022647
818,2022-05-19,2330,40798132,21322524192,523.0,527.0,520.0,522.0,-16.0,47232,-11.562576,-13.521572,1.958995

In [5]:
buy_date, buy_price, sell_date, sell_price = macd_strategy_data(month, stock) #EMA策略，的買賣點位 **未來要依據策略更改的地方**
profit, loss, ROI = profit_and_loss(buy_price, sell_price) #每次交易虧損、獲利、累積報酬率
buy_sc, sell_sc = draw_scatter(buy_date, buy_price, sell_date, sell_price) #買賣點位的標記
kline.overlap(buy_sc) #買入點位圖疊加
kline.overlap(sell_sc) #賣出點位圖疊加

買入日期：2019-02-27
買入價：239.0
<class 'float'>
賣出日期：2019-03-05
賣出價：233.0
233.0 - 239.0 = -6.0
買入日期：2019-03-20
買入價：242.0
<class 'float'>
賣出日期：2019-03-27
賣出價：241.5
241.5 - 242.0 = -0.5
買入日期：2019-04-08
買入價：253.0
<class 'float'>
賣出日期：2019-04-29
賣出價：259.5
259.5 - 253.0 = 6.5
買入日期：2019-06-05
買入價：235.0
<class 'float'>
賣出日期：2019-08-01
賣出價：256.5
256.5 - 235.0 = 21.5
買入日期：2019-08-23
買入價：254.0
<class 'float'>
賣出日期：2019-08-26
賣出價：248.5
248.5 - 254.0 = -5.5
買入日期：2019-08-30
買入價：259.0
<class 'float'>
賣出日期：2019-10-25
賣出價：293.5
293.5 - 259.0 = 34.5
買入日期：2019-11-04
買入價：307.0
<class 'float'>
賣出日期：2019-11-11
賣出價：301.0
301.0 - 307.0 = -6.0
買入日期：2019-12-11
買入價：319.0
<class 'float'>
賣出日期：2019-12-25
賣出價：333.0
333.0 - 319.0 = 14.0
買入日期：2020-02-13
買入價：335.0
<class 'float'>
賣出日期：2020-02-18
賣出價：322.0
322.0 - 335.0 = -13.0
買入日期：2020-03-27
買入價：273.0
<class 'float'>
賣出日期：2020-05-13
賣出價：297.0
297.0 - 273.0 = 24.0
買入日期：2020-06-03
買入價：301.0
<class 'float'>
賣出日期：2020-06-22
賣出價：312.0
312.0 - 301.0 = 11.0
買入日期：2020-07-03
買入價：329.5
<class 'float'>
賣出日期：2020-08-11
賣出價：429.0
429.0 - 329.5 = 99.5
買入日期：2020-09-16
買入價：458.0
<class 'float'>
賣出日期：2020-09-21
賣出價：440.0
440.0 - 458.0 = -18.0
買入日期：2020-10-08
買入價：453.0
<class 'float'>
賣出日期：2020-10-23
賣出價：452.0
452.0 - 453.0 = -1.0
買入日期：2020-11-09
買入價：458.5
<class 'float'>
賣出日期：2020-12-01
賣出價：490.0
490.0 - 458.5 = 31.5
買入日期：2020-12-02
買入價：499.0
<class 'float'>
賣出日期：2020-12-15
賣出價：504.0
504.0 - 499.0 = 5.0
買入日期：2021-01-04
買入價：536.0
<class 'float'>
賣出日期：2021-01-27
賣出價：615.0
615.0 - 536.0 = 79.0
買入日期：2021-02-18
買入價：660.0
<class 'float'>
賣出日期：2021-02-19
賣出價：652.0
652.0 - 660.0 = -8.0
買入日期：2021-04-01
買入價：602.0
<class 'float'>
賣出日期：2021-04-21
賣出價：592.0
592.0 - 602.0 = -10.0
買入日期：2021-04-27
買入價：610.0
<class 'float'>
賣出日期：2021-04-29
賣出價：600.0
600.0 - 610.0 = -10.0
買入日期：2021-05-24
買入價：568.0
<class 'float'>
賣出日期：2021-06-22
賣出價：578.0
578.0 - 568.0 = 10.0
買入日期：2021-07-13
買入價：607.0
<class 'float'>
賣出日期：2021-07-19
賣出價：582.0
582.0 - 607.0 = -25.0
買入日期：2021-08-03
買入價：594.0
<class 'float'>
賣出日期：2021-08-13
賣出價：581.0
581.0 - 594.0 = -13.0
買入日期：2021-08-26
買入價：594.0
<class 'float'>
賣出日期：2021-09-15
賣出價：607.0
607.0 - 594.0 = 13.0
買入日期：2021-10-15
買入價：600.0
<class 'float'>
賣出日期：2021-11-04
賣出價：587.0
587.0 - 600.0 = -13.0
買入日期：2021-11-05
買入價：600.0
<class 'float'>
賣出日期：2021-11-25
賣出價：603.0
603.0 - 600.0 = 3.0
買入日期：2021-12-27
買入價：606.0
<class 'float'>
賣出日期：2022-01-21
賣出價：641.0
641.0 - 606.0 = 35.0
買入日期：2022-03-21
買入價：586.0
<class 'float'>
賣出日期：2022-04-08
賣出價：567.0
567.0 - 586.0 = -19.0
買入日期：2022-04-20
買入價：570.0
<class 'float'>
賣出日期：2022-04-25
賣出價：547.0
547.0 - 570.0 = -23.0
買入日期：2022-05-17
買入價：530.0
買進次數： 30
賣出次數： 29
結果 216.5

In [6]:
#執行
table_1 = draw_table_1(stock, profit, loss, recent_date, buy_date, buy_price, sell_date, sell_price, ROI) #表1-損益分析製作

總損益：139.800000
總獲利：352.200000
總虧損：-212.400000
總交易次數：29
最大交易獲利：97.130000
最大交易虧損：-28.440000
勝率：0.450000
年化報酬率：13.00%
未實現損益：-11.090000
['139.8', '352.2', '-212.4', '29', '97.13', '-28.44', '45.00%', '13.00%', '-11.09']

In [7]:
#執行
table_2 = darw_table_2(stock, recent_date, buy_date, buy_price, sell_date, sell_price, ROI)
#表2-交易細節製作

     0           1      2           3      4      5       6       7        8  \
0    1  2019-02-27  239.0  2019-03-05  233.0  -7.80  -3.07%  -3.07%  1.34520
1    2  2019-03-20  242.0  2019-03-27  241.5  -2.31  -0.79%  -3.85%  1.37797
2    3  2019-04-08  253.0  2019-04-29  259.5   4.64   1.96%  -1.89%  1.46063
3    4  2019-06-05  235.0  2019-08-01  256.5  19.72   8.47%   6.58%  1.40078
4    5  2019-08-23  254.0  2019-08-26  248.5  -7.37  -2.73%   3.85%  1.43213
5    6  2019-08-30  259.0  2019-10-25  293.5  32.61  12.60%  16.45%  1.57463
6    7  2019-11-04  307.0  2019-11-11  301.0  -8.10  -2.52%  13.93%  1.73280
7    8  2019-12-11  319.0  2019-12-25  333.0  11.84   3.76%  17.69%  1.85820
8    9  2020-02-13  335.0  2020-02-18  322.0 -15.23  -4.42%  13.27%  1.87245
9   10  2020-03-27  273.0  2020-05-13  297.0  22.05   8.12%  21.39%  1.62450
10  11  2020-06-03  301.0  2020-06-22  312.0   8.92   3.04%  24.42%  1.74705
11  12  2020-07-03  329.5  2020-08-11  429.0  97.30  29.27%  53.69%  2.16173
12  13  2020-09-16  458.0  2020-09-21  440.0 -20.77  -4.47%  49.22%  2.55930
13  14  2020-10-08  453.0  2020-10-23  452.0  -3.75  -0.80%  48.42%  2.57925
14  15  2020-11-09  458.5  2020-12-01  490.0  28.73   6.22%  54.64%  2.70323
15  16  2020-12-02  499.0  2020-12-15  504.0   2.05   0.41%  55.05%  2.85855
16  17  2021-01-04  536.0  2021-01-27  615.0  75.88  14.00%  69.04%  3.28035
17  18  2021-02-18  660.0  2021-02-19  652.0 -11.66  -1.78%  67.26%  3.73920
18  19  2021-04-01  602.0  2021-04-21  592.0 -13.41  -2.23%  65.04%  3.40290
19  20  2021-04-27  610.0  2021-04-29  600.0 -13.44  -2.20%  62.83%  3.44850
20  21  2021-05-24  568.0  2021-06-22  578.0   6.74   1.16%  63.99%  3.26610
21  22  2021-07-13  607.0  2021-07-19  582.0 -28.43  -4.66%  59.33%  3.38865
22  23  2021-08-03  594.0  2021-08-13  581.0 -16.37  -2.75%  56.59%  3.34875
23  24  2021-08-26  594.0  2021-09-15  607.0   9.63   1.58%  58.17%  3.42285
24  25  2021-10-15  600.0  2021-11-04  587.0 -16.40  -2.73%  55.44%  3.38295
25  26  2021-11-05  600.0  2021-11-25  603.0  -0.40  -0.09%  55.36%  3.42855
26  27  2021-12-27  606.0  2022-01-21  641.0  31.57   5.13%  60.49%  3.55395
27  28  2022-03-21  586.0  2022-04-08  567.0 -22.34  -3.79%  56.70%  3.28605
28  29  2022-04-20  570.0  2022-04-25  547.0 -26.27  -4.58%  52.12%  3.18345

          9
0   0.69900
1   0.72450
2   0.77850
3   0.76950
4   0.74550
5   0.88050
6   0.90300
7   0.99900
8   0.96600
9   0.89100
10  0.93600
11  1.28700
12  1.32000
13  1.35600
14  1.47000
15  1.51200
16  1.84500
17  1.95600
18  1.77600
19  1.80000
20  1.73400
21  1.74600
22  1.74300
23  1.82100
24  1.76100
25  1.80900
26  1.92300
27  1.70100
28  1.64100

In [8]:
#執行
pics_combine(table_1, kline, table_2) #表1-損益分析+K線+表2-交易細節(垂直排列)，並產出網址

In [9]:
draw_kline_picture(month, values, stock_name, buy_sc, sell_sc)